/* Button */
.button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color: var(--paper);
    border: var(--border-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background ease 0.25s;

}

.button:hover, .button:focus {
    box-shadow: var(--button-shadow);
}

.button--primary {
    background-color: var(--primary-background);
    color: var(--white);
}

.button--secondary {
    color: var(--secondary);
    background: var(--secondary-background);
}

.button--readonly {
    color: var(--disabled);
    background: var(--main-background);
}
