/* Typography */
.heading1 {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 1.5;
}

.heading2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 1.5;
}

.heading3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-primary);
    line-height: 1.5;
}

.heading4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary);
    line-height: 1.5;
}

.subtitle1 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-secondary);
}

.body1 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-secondary);
}

.body2 {
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-secondary);
}

.color-inherit {
    color: inherit;
}
