.checkout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media screen and (min-width: 48rem) {
    .checkout {
        max-width: 56rem;
        flex-direction: row;
        margin: 0 auto;
        gap: 2rem;
        align-items: flex-start;
    }
}
