.pricing-section {
    gap: 1rem;
}


.pricing-section {
    flex-direction: column;
}

@media screen and (min-width: 64rem) {
    .pricing-section {
        flex-direction: row;
    }
}

@media screen and (min-width: 48rem) {
    .pricing-section-left {
        flex-basis: 70%;
    }
    
    .pricing-section-right {
        flex-basis: 30%;
    }
}

.durations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}


.subscription-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
}

@media screen and (min-width: 48rem) {
    .subscription-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}


.plan-card {
    background-color: var(--main-background) !important;
    padding: 1.5rem !important;
    position: relative;
    border-width: 2px !important;
}

.plan-card .chip {
    position: absolute;
    right: 1rem;
    top: 0;
    transform: translateY(-50%);
}

.plan-card-selected {
    background-color: var(--paper) !important;
    border: var(--border-primary) !important;
    border-width: 2px;
    transform: scale(1.02);
    transition: all ease 0.25s;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.features-list-item {
    gap: 0.5rem;
}
